# Core dependencies
langchain
langgraph
qdrant-client
langchain-openai
tavily-python
langchain-community
langchain-core
streamlit
tenacity
anthropic
beautifulsoup4
docx2txt
jieba
openai
tiktoken
pydantic
python-dotenv
numpy
PyYAML
